.con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: cyan;
    padding: 30px;
}

.leftCon {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: orange;
}

.rightCon form {
    border: 1px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.rightCon {
    flex: 1;
    background: pink;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.leftCon img {
    width: 250px;
    height: auto;
    
}
