.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #020202;
    color: #1ba3c3;

}
.linksCon {
    display: flex;
    justify-content: space-around;
    width: 100%;
}