
nav {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--black);
    color: var(--madhuro-white)
    
}
.left {
    display: flex;
    flex-direction: column;
    padding: 2px 5px;
}

.right {
    flex: 1;
    padding-left: 10%;
}
.right ul {
    display: flex;
    justify-content: space-around;
    gap: 10px;  
}
.right ul li {
    list-style-type: none;
}
.right ul li a {
    text-decoration: none;
    color: var(--madhuro-white);

}

.enName {
    font-weight: 900;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: var(--gadha-white)
}