:root {

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --black: #222222;
  --madhuro-white: #BBAAA6;
  --gadha-white: #ffffff;
  --first-heading: #efefef;

  --text-left-pad: 1rem;
}
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }